body {
    font-family: 'Work Sans', sans-serif;
}

main {
    position: absolute;
    top: 20vh;
    left: 36vw;
    width: 20vw;
    padding: 2vw;
    border-radius: 0.5em;
    background-color: #DADADA;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.5);
}

#priceDisplay {
    margin: 2vw;
    font-size: 7vw;
    text-align: center;
}